body{
    background: linear-gradient(to top right,rgba(59, 59, 59,0.9),rgba(197,197,197,0.1));
}
.personage-info-cart{
    box-shadow: 0 0 5px 1px rgb(99,99,99);
    margin-bottom: 40px;
    padding:30px;
    background-color: white;
}
.personage-basics-info {
    display: flex;
    justify-content: space-between;
}
.personage-basics-info > div:last-child{
    margin: 30px 40px;
}
.personage-basics-info > div:last-child > p:first-child{
    font-size: 30px;
    margin: 8px 0;
}
.personage-basics-info > div:last-child > p:last-child{
    text-indent: 2em;
    font-size: 18px;
}
.personage-history-event > div{
    text-indent: 2em;
    font-size: 18px;
}
.personage-history-event > h1{
    border-bottom: solid 1px rgb(99,99,99);
}
.personage-history-event > h1 > img{
    vertical-align: baseline
}