<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>红革网</title>
    <link type="image/icon" rel="shorcut icon" href="../images/svg/title-icon.svg">
    <link type="text/css" rel="stylesheet" href="../css/basic.css">
    <link tyle="text/css" rel="stylesheet" href="../css/history.css">
    <script src="../js/jquery/jquery-1.7.1.min.js"></script>
    <script src="../js/bacis.js"></script>
</head>
<body id="history-body">
    <!-- 头部 -->
    <header>
        <div class="header-layout">
            <img src="../images/logo.png"/>
            <nav>
                <a href="../index.html">首页</a>
                <a href="../templates/event.html">历史事件</a>
                <a href="../templates/metting.html">历史会议</a>
                <a href="../templates/personage.html">历史人物</a>
                <a href="./history.html">党的一百年历史</a>
            </nav> 
        </div>
    </header>
    <p id="history-narr">
        一切反动派都是纸老虎。看起来，反动派的样子是可怕的，但是实际上并没有什么了
        不起的力量。从长远的观点看问题，真正强大的力量不是属于反动派，而是属于人民。
        --毛泽东
    </p>
    <div class="bg-body">
        <h2><img src="../images/svg/China.svg"/>党的一百年</h2>

        <div class="history-content-body">
            <div class="four-content-layout">
                <div class="history-cart">
                    <div>
                        <img src="../images/jm.jpg"/>
                    </div>
                    <div>
                        <p>井冈山精神</p>
                        <p class="history-cart-info history-name0">
                            井冈山精神是红色革命精神之一，诞生于土地革命时期的井冈山根据地。
                            井冈山精神的内涵可以用五句话来概括：1. 坚定不移的革命信念。2. 
                            坚持党的绝对领导。3. 密切联系人民群众的思想作风。4. 一切从实际
                            出发的思想路线。5. 艰苦奋斗的作风。
                        </p>
                    </div>
                </div>

                <div class="history-cart">
                    <div>
                        <img src="../images/lm.jpg"/>
                    </div>
                    <div>
                        <p>长征精神</p>
                        <p class="history-cart-info history-name1">
                            长征精神，红色革命精神之一，是中国共产党在二万五千里长征中创造的革命精神。
                            红军指战员在长征途中表现出对革命理想和事业无比的忠诚、坚定的信念，表现出
                            不怕牺牲、敢于胜利的无产阶级革命乐观主义精神，表现出顾全大局、严守纪律、
                            亲密团结的高尚品德，创造了伟大的长征精神。集中体现为：坚韧不拔，自强不息，
                            勇往直前。最显著特点是“一不怕苦，二不怕死”的革命英雄主义精神。长征精神是
                            中华民族百折不挠、自强不息的民族精神的最高表现，是保证我们革命和建设事业
                            走向胜利的强大精神力量。
                        </p>
                    </div>
                </div>

                <div class="history-cart">
                    <div>
                        <img src="../images/ya.jpg"/>
                    </div>
                    <div>
                        <p>延安精神</p>
                        <p class="history-cart-info history-name2">
                            延安精神是红色革命精神之一，是中国共产党创造的一种革命精神。因在革命圣地延安诞生，
                            故名。主要内容包括：实事求是、理论联系实际的精神，全心全意为人民服务的精神和自力
                            更生艰苦奋斗的精神。本质是解放思想、实事求是。延安是举世闻名的中国革命圣地。从1935
                            年到1948年，中共中央和毛泽东在这里领导、指挥了抗日战争和解放战争，实现了马克思列宁
                            主义同中国实际相结合的第一次历史性飞跃，诞生了毛泽东思想，奠定了中华人民共和国的基石。
                            延安孕育的延安精神，是中国革命和建设的伟大的精神动力。
                        </p>
                    </div>
                </div>

                <div class="history-cart">
                    <div>
                        <img src="../images/RUSA&AK.jpg"/>
                    </div>
                    <div>
                        <p>抗美援朝精神</p>
                        <p class="history-cart-info history-name3">
                            2020年10月23日，纪念中国人民志愿军抗美援朝出国作战70周年大会在京隆重举行。中共中央总书记
                            、国家主席、中央军委主席习近平出席大会并发表了重要讲话。习近平总书记的重要讲话高度肯定了中
                            国人民志愿军抗美援朝出国作战的历史意义和伟大精神，激励了全党全军全国各族人民对标对表先辈英
                            雄，弘扬伟大抗美援朝精神，在全面开启中国特色社会主义现代化国家建设新征程中勇毅奋进、不懈斗争。
                        </p>
                    </div>
                </div>

                <div class="history-cart">
                    <div>
                        <img src="../images/TBAOS.jpg"/>
                    </div>
                    <div>
                        <p>"两弹一星"精神</p>
                        <p class="history-cart-info history-name4">
                            “两弹”，一个是核弹，核弹包括原子弹和氢弹，还有一个是导弹。“一星”就是人造卫星。1999年9月18日，
                            江泽民同志在表彰为研制“两弹一星”作出突出贡献的科技专家大会上发表讲话，将“两弹一星精神”概括为“
                            热爱祖国、无私奉献，自力更生、艰苦奋斗，大力协同、勇于登攀”二十四个字。
                        </p>
                    </div>
                </div>

                <div class="history-cart">
                    <div>
                        <img src="../images/tq.jpg"/>
                    </div>
                    <div>
                        <p>特区精神</p>
                        <p class="history-cart-info history-name5">
                            2000年11月，在庆祝深圳经济特区成立20周年之时，提出了特区“十大精神”。<br/>
                            敢闯、敢冒、敢试、敢为天下先的改革精神、奋发有为、只争朝夕的创业精神、
                            自立、自强、自信的拼搏精神、
                            团结友爱、扶贫济困的互助精神、
                            诚实守信、廉洁奉公的奉献精神、
                            爱岗敬业、健康文明的人文精神、
                            公正严明、规范有序的法治精神、
                            崇尚知识，完善自我的学习精神、
                            公开透明的民主精神、
                            面向世界的开放精神。
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <h2><img src="../images/svg/China.svg"/>党的历史</h2>
        <div class="history-content-body">
            <!-- 时间轴 -->
            <div class="time-axis">
                <div class="time-pointe">
                    <span>1921</span>
                    <div class="line-time">
                    </div>
                </div>
                <div class="history-content-layout">
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/15.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1921年是中国共产党诞生的年份。在中国历史上这是开天
                            辟地的大事件。因此，1921年也是中国共产党全部历史的
                            开端，在中国革命史上具有划时代的作用。
                            1921年是中国共产党诞生的年份。在中国历史上这是开天
                            辟地的大事件。因此，1921年也是中国共产党全部历史的
                            开端，在中国革命史上具有划时代的作用。
                            1921年是中国共产党诞生的年份。在中国历史上这是开天
                            辟地的大事件。因此，1921年也是中国共产党全部历史的
                            开端，在中国革命史上具有划时代的作用。
                        </a>
                        </div>
                    </div>

                    <span>1922</span>
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time1.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1922年１月 中国共产党人在革命实践中，根据马克思列宁主义的基本原理，
                            进一步探索中国社会和中国革命的实际问题。《先驱》发刊词指出：必须把
                            “努力研究中国的客观的实际情形，而求得一最合宜的实际的解决中国问题的
                            方案”当作“第一要务”。邓中夏在《共产主义与无政府主义》一文中指出：“
                            共产主义有目的，实行有步骤，有手段，有方法。”３月，周恩来在《西欧的
                            “赤”况》中指出：“我们当信共产主义真理和阶级革命与无产阶级专政两大原
                            则，而实行的手段则当因时制宜。”
                            １月长沙华实纱厂工人在社会主义青年团员黄爱、庞人铨的领导下举行罢工
                            ，遭到军阀赵恒惕的镇压，黄爱、庞人铨被逮捕杀害。湖南党组织发起驱逐赵
                            恒惕运动，得到湖南人民和全国各地群众的广泛支持。
                            １月１２日 香港海员六千多人为了反抗英国资本家的压迫剥削，要求增加工资
                            ，举行罢工。到３月初，发展成为香港工人同盟总罢工，罢工人数超过十万。这
                            次罢工使香港的航运全部瘫痪，市内交通中断，生产停顿。３月４日，港英军警
                            开枪打死打伤途经沙田回广州的罢工工人几百人，制造了“沙田惨案”。罢工期间
                            ，国民党的广东政府给了香港罢工工人以经济上的援助。在中国共产党的领导下，
                            全国各地工人积极支援香港海员的罢工斗争，并且在共同斗争中促进了全国工人
                            阶级的团结。这次罢工坚持了56天，港英当局被迫于３月８日接受海员提出的增
                            加工资、抚恤死难工人家属的要求，罢工取得胜利。从此，中国共产党领导下的
                            工人运动形成高潮。长江船员、上海邮务工人、上海日华纱厂工人、汉阳钢铁厂
                            工人和京汉、粤汉、京奉、京绥、正太等铁路工人在各地党组织的领导和推动下，
                            也相继举行罢工，这些罢工大多数都取得了胜利。
                            １月２１日－２月２日 共产国际在莫斯科召开远东各国共产党及民族革命团体第
                            一次代表大会。出席大会的有中国、朝鲜、日本、蒙古等国的代表。中国共产党、
                            中国社会主义青年团、中国国民党以及中国的工人、农民、学生、妇女等革命团体
                            的代表参加了大会。大会揭露了为协调各帝国主义国家在远东利益而举行的华盛顿
                            会议的反动实质，总结了远东各国人民开展革命斗争的情况和经验。大会根据列宁
                            关于民族殖民地问题的理论，阐明了被压迫民族所面临的反帝反封建的历史任务。
                            会议期间，列宁抱病接见中国的一部分代表，勉励中国工人阶级和革命人民团结一
                            致，推动中国革命向前发展。
                        </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="time-axis">
                <div class="time-pointe">
                    <span>1923</span>
                    <div class="line-time">
                    </div>
                </div>
                <div class="history-content-layout">
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time2.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1923年6月12日至20日，中国共产党在广州举行第三次全国代表大会。
                            出席大会的正式代表有30多名，代表全国党员420人。大会的中心议题
                            是讨论同孙中山领导的国民党建立革命统一战线问题。在讨论中出现了
                            两种错误观点：一种是以张国焘为代表的“左”倾观点，反对全体共产党
                            员加入国民党；另一种是以陈独秀等人为代表的右倾管线，他们提出了
                            “一切工作归国民党”的口号
                        </a>
                        </div>
                    </div>
                    
                    <span>1924</span>
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time3.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1924年１月１日　中共中央和社会主义青年团中央在上海举行联席会议，
                            讨论国民党改组问题。陈独秀、瞿秋白和鲍罗廷等人出席了会议。鲍罗廷
                            在会上作了报告；陈独秀报告了自中共三大以来国共合作进展情况。会议
                            通过以下决议：(1)中共中央和青年团中央联席会议在听取了鲍罗廷同志
                            和陈独秀同志关于国民党改组工作的报告后，认为工作进行得正确；(2)
                            共产党员在加入国民党以后应该反对老国民党人对国民革命运动的错误理解
                            (3)共产党员不应该在各种委员会中谋求职位；(4)关于宣言问题，全体
                            共产党员代表应当捍卫它的所有条款。在组织问题上，不应用章程来束缚
                            代表。在各省，必须选举左派作为出席代表大会的代表。
                            １月１８日　出席国民党第一次代表大会的共产党党团召开会议，讨论对
                            国民党代表大会的态度和在该党中的工作方针。鲍罗廷出席会议并讲了话。
                            １月２０日－３０日　在孙中山主持下，中国国民党在广州举行第一次全国
                            代表大会。大会通过了有共产党人参加起草的、以反帝反封建为主要内容的
                            宣言，确定了联俄、联共、扶助农工的三大政策，从而把旧三民主义发展为
                            新三民主义。大会选举有李大钊、谭平山、毛泽东、林伯渠、瞿秋白等十名
                            共产党员为委员和候补委员的国民党中央执行委员会。接着又改组国民党中
                            央党部，共产党人担任了国民党中央组织部和农民部的部长，工人部实际上
                            也由共产党员领导。随后，全国大部分地区以共产党员和国民党左派为骨干
                            改组或建立了各级国民党党部。
                        </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="time-axis">
                <div class="time-pointe">
                    <span>1925</span>
                    <div class="line-time">
                    </div>
                </div>
                <div class="history-content-layout">
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time4.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1925年１月１１日－２２日　中国共产党第四次全国代表
                            大会在上海举行。出席代表20人，代表党员994人。大会
                            的中心议题是：如何加强党对日益高涨的革命运动的领导，
                            以及在宣传工作、组织工作和群众工作方面如何准备迎接大
                            革命的高潮。大会回顾了二大以来党的政策制定和实施的经
                            过，肯定上年5月中央扩大会议对党的工作中右倾错误的批评
                            ，重新规定党同国民党合作和关于工人运动、农民运动等方面
                            的一些方针。大会文件指出，国民党固然是中国民族运动中的
                            一个重要工具，但不是这个运动的全部。共产党要在国民党内
                            和党外坚持彻底的民主革命纲领，保持自己的独立性，在思想
                            上组织上和民众宣传上扩大左派，反对右派、争取中派。既要
                            在实际斗争中和发展组织方面帮助国民党，又要坚持同他们的
                            妥协性作斗争。大会研究了工人运动与民族运动相结合的关系
                            ，强调在民族运动中力争工人运动的独立及进展，以取得领导
                            地位，并使民族运动充分地革命化。为此，工人阶级就必须有
                            强固的群众性的工会组织，各种产业工人尤其要力求组织在共
                            产党指导之下。对工人加入国民党的问题，大会区别情况规定
                            了不同的办法，并指出要同工会运动中资产阶级的影响、同国
                            民党右派的分裂阴谋作斗争。大会分析了中国社会各阶级在民
                            族革命运动中的地位，指出了无产阶级领导权和工农联盟的重
                            要性。
                        </a>
                        </div>
                    </div>

                    <span>1926</span>
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time6.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1926年1月1日，国民党第二次全国代表大会在广州召开。共产党员吴玉章担任大会秘书长。
                            由于共产党和国民党左派代表占很大优势，这次大会决定进一步贯彻执行联俄、联共、扶助
                            农工的三大政策，给参加西山会议的右派分子以党纪制裁。在会后建立的国民党中央党部中
                            ，共产党员担任中央秘书处、组织部、宣传部、农民部的主要领导职务，几乎全部掌握了这
                            些关键部门的领导权。但共产党人在这次大会上也有失误，在选举国民党中央执行委员、监
                            察委员时，共产党作了很大的让步。在36名中央执行委员中，共产党员只占7名，连本来应
                            开除党籍的戴季陶等右派分子，在受了党纪处分以后也被选为中央执行委员。在12名中央监
                            察委员中，共产党员只占1名，右派占绝对优势。这就为不久以后蒋介石夺取国民党中央的领
                            导权打开了方便之门。
                            1月15日，在日本帝国主义殖民统治下的大连，由9名党员组成的中共大连特别支部成立
                            二月
                        </a>
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="time-axis">
                <div class="time-pointe">
                    <span>1927</span>
                    <div class="line-time">
                    </div>
                </div>
                <div class="history-content-layout">
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time5.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1927年
                            １月上旬－２月中旬 中国共产党领导的声势浩大的群众反帝运动，同武汉政府的外
                            交谈判相结合，迫使英国侵略者不得不将汉口、九江英租界交还中国。这是近百年来
                            中国人民反帝外交斗争史上的第一次重要胜利，使中国人民受到极大鼓舞。
                            １月４日－２月５日 毛泽东回湖南考察农民运动。２月１６日，写信给中共中央，
                            提出解决农民的土地问题，已经不是宣传而是立即实行的问题。３月，发表《湖南农
                            民运动考察报告》，驳斥了党内外怀疑和指责农民运动的论调，总结了湖南农民运动
                            的丰富经验，提出了解决中国民主革命的中心问题――农民问题的理论和政策。
                            ２月１９日 在中国共产党领导下上海工人举行总同盟罢工。２１日，总同盟罢工发展
                            为第二次武装起义。蒋介石的军队在上海附近按兵不动，坐视军阀部队残酷地镇压起
                            义工人。起义失败。
                            ２月 瞿秋白将他同彭述之的争论，写成了《中国革命中之争论问题》的小册子，批评
                            了以陈独秀、彭述之为代表的党内右倾主义的错误。
                            ３月１０日－１７日 国民党二届三中全会在汉口举行。共产党员和国民党左派联合起
                            来，挫败了蒋介石在南昌另立中央的企图，通过了旨在限制蒋介石个人独裁的一系列
                            决议。全会选举当时还远在国外的汪精卫担任国民党中央和国民政府主要领导职务，并
                            继续让蒋介石担任国民革命军总司令。蒋介石随即以总司令的名义调集嫡系部队至沪宁
                            一带，在帝国主义和买办性的江浙财阀的直接指使和援助下，加紧准备反革命政变。
                        </a>
                        </div>
                    </div>

                    <span>1928</span>
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time7.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1928年
                            １月 方志敏、邵式平、黄道等在江西弋阳、横峰领导武装起义，建立了工农
                            革命武装，实行土地革命，开展游击战争，并逐步创建了赣东北革命根据地。
                            １月 朱德、陈毅等率领南昌起义保留下来的部分队伍，由广东北江进入湘南
                            地区，在中共湖南特委和当地农军的配合下，举行宜章、郴州（今郴县）、耒
                            阳、永兴、资兴等县的武装起义，扩大了革命武装。
                            １月 周逸群、贺龙到洪湖、湘鄂边地区发动群众，开展武装斗争。３月，工农
                            革命军发动起义，攻占了桑植县城。４月，敌人向桑植地区进攻，工农革命军
                            遭到挫折。周逸群转移到洪湖地区领导群众斗争。贺龙留在桑植、鹤峰边界，坚
                            持游击战争。随后，根据湖南省委指示，成立了工农革命军第四军，贺龙任军长。
                            ２月 中共平和县委决定建立福建工农革命军第一团和暴动委员会。3月8日，平和
                            县委负责人朱积垒等在闽南平和领导农民举行武装起义。在敌人反扑下，起义军撤
                            出县城。后来，部分农军转入山区坚持斗争。
                            ３月-6月 中共龙岩县委负责人郭滴人、邓子恢等在闽西龙岩的后田，中共上杭县
                            委负责人郭慕亮(后叛变投敌)，在上杭的蛟洋，中共永定县委负责人张鼎丞等在闽
                            西永定的溪南、金丰、湖雷等地先后领导起义。随后根据中共福建临时省委指示，
                            成立了中共闽西特委，并将上述各县起义武装统编为闽西红军第七军第十九师。不
                            久，在强敌进攻下，遭受严重挫折，部分起义武装继续坚持游击战争。
                            ４月 朱德、陈毅率领南昌起义保留下来的部队和湘南农军到达井冈山，与毛泽东领
                            导的秋收起义部队会师。会师后两支部队合编为工农革命军第四军（后根据中共中央
                            指示，改称红军第四军），朱德任军长，毛泽东任党代表。
                        </a>
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="time-axis">
                <div class="time-pointe">
                    <span>1929</span>
                    <div class="line-time">
                    </div>
                </div>
                <div class="history-content-layout">
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time8.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1929年
                            1月14日毛泽东、朱德、陈毅率领红四军主力进军赣南。相继开辟赣南
                            、闽西革命根据地。后来这两块根据地连成一片，以其为中心发展为中
                            央革命根据地即中央苏区。
                            5月中共商（城）罗（田）麻（城）特区委员会领导河南商城南部农民举
                            行武装起义，建立红军。随后，逐步建立豫东南革命根据地。
                            9月28日中共中央向红四军前委发出指示信，指出中国革命的特征是先有
                            农村红军，后有城市政权；肯定毛泽东关于红军的行动策略和建设一支坚
                            强的人民军队的主张；强调要在红军党内加强无产阶级意识的领导。
                            11月－12月中共六安县委领导安徽六安、霍山农民举行武装起义。随后成
                            立红军，逐步建立皖西革命根据地。
                            12月11日－翌年2月中共中央代表邓小平等先后在广西百色、龙州领导武
                            装起义，建立红军，开辟左、右江革命根据地。
                            12月下旬红四军第九次党代会在福建上杭古田召开，通过毛泽东起草的大会
                            决议案即著名的古田会议决议，明确规定了红军的性质、宗旨和任务，确立
                            了党对红军的领导原则、制度和方法，强调加强党的思想建设的重要性。古
                            田会议决议成为中国共产党和红军建设的纲领性文献。
                        </a>
                        </div>
                    </div>

                    <span>1930</span>
                    <div class="history-content-cart">
                        <div>
                            <img src="../images/history-time9.jpg"/>
                        </div>
                        <div><a href="../templates/history_detail.html">
                            1930年1月5日，毛泽东给林彪复信，对党内和红军内的悲观思想作了批评
                            ，同时撰写《星星之火，可以燎原》。标志着毛泽东关于“以农村包围城市
                            ，最后夺取城市”的革命理论基本形成。
                            这是毛泽东在1930年1月5日给林彪的一封信，是为答复林彪散发的一封对
                            红军前途究竟应该如何估计的征求意见的信。毛泽东在这封信中批评了当时
                            林彪以及党内一些同志对时局估量的一种悲观思想。
                            2月1日，红八军初战不利，丧失左江根据地。
                            中国工农红军第八军是广西龙州的红军部队。1930年2月1日，在中共中央特
                            派员邓小平策动下，由俞作豫率领的广西警备第五大队及部分反桂系军阀武装
                            在左江龙州举行起义。
                            起义胜利后，随即编为红八军，俞作豫任军长，邓小平任政治委员。下编3个
                            纵队，分别由何家荣、宛旦平、王飞虎任纵队长。全军共约2000人。
                        </a>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>
    </div>

    <!-- 底部 -->
    
    <!-- 回到顶部 -->
    <aside>
        <a href="#">
            <img src="../images/svg/top.svg"/>
        </a>
    </aside>
</body>
</html>