<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>红革网</title>
    <link type="image/icon" rel="shorcut icon" href="../images/svg/title-icon.svg">
    <link type="text/css" rel="stylesheet" href="../css/basic.css">
    <link type="text/css" rel="stylesheet" href="../css/personage_detail.css">
</head>
<body>
    <!-- 头部 -->
    <header>
        <div class="header-layout">
            <img src="../images/logo.png"/>
            <nav>
                <a href="../index.html">首页</a>
                <a href="../templates/event.html">历史事件</a>
                <a href="../templates/metting.html">历史会议</a>
                <a href="../templates/personage.html">历史人物</a>
                <a href="../templates/history.html">党的一百年历史</a>
            </nav> 
        </div>
    </header>
    
    <div class="bg-body">
        <div class="personage-detail-layout">
            <div class="personage-info-cart">
                <div class="personage-basics-info">
                    <div>
                        <img src="../images/personage/peoper1.jpg"/>
                    </div>
                    <div>
                        <p><img src="../images/svg/intro.svg"/>李大钊</p>
                        <p>
                            （1889年10月29日-1927年4月28日），字守常，河北乐亭人。
                            1907年考入天津北洋法政专门学校 ，1913年毕业后东渡日本，
                            入东京早稻田大学政治本科学习，是中国共产主义运动的先驱，
                            伟大的马克思主义者，杰出的无产阶级革命家，中国共产党的
                            主要创始人之一。  李大钊同志一生的奋斗历程，同马克思主
                            义在中国传播的历史紧密相连，同中国共产党创建的历史紧密
                            相连，同中国共产党领导的为中国人民谋幸福的历史紧密相连  。
                            2019年10月27日，纪念李大钊同志诞辰130周年座谈会在京
                            举行。会议纪念李大钊同志诞辰130周年，回顾神州大地发生
                            的历史性变化，怀念李大钊同志等老一辈革命家为民族独立和
                            人民解放、国家富强和人民幸福建立的不朽功勋 。
                            2021年4月28日，俄罗斯保存的李大钊生前唯一影像公布。
                        </p>
                    </div>
                </div>
                <div class="personage-history-event">
                    <h1><img src="../images/svg/notepad.svg"/>人物历史</h1>
                    <div>
                        李大钊同志1889年10月出生于河北省乐亭县。那时，中国正处在帝国主义列强加紧
                        侵略和封建统治愈益腐朽而造成的深重灾难之中，国家和民族濒于危亡的边缘。进入
                        二十世纪，辛亥革命爆发、新文化运动涌起，特别是五四运动的发生，使中国社会出
                        现了曙光初现的变化。李大钊同志是在这样的历史背景下走上探索救国救民道路的。
                        1913年，他东渡日本，就读于东京早稻田大学，开始接触社会主义思想和马克思主
                        义学说。1916年回国后，他积极投身新文化运动，宣传民主、科学精神，抨击旧礼教
                        、旧道德，向封建顽固势力展开猛烈斗争。他和他的战友们改造旧中国的决心和激情
                        ，有力激发了当时中国青年的蓬勃朝气和进取精神  。
                        李大钊同志是中国最早的马克思主义传播者。1917年俄国十月革命胜利后，李大钊同
                        志备受鼓舞，连续发表《法俄革命之比较观》、《庶民的胜利》、《布尔什维主义的胜
                        利》、《新纪元》等文章和演讲，热情讴歌十月革命。他敏锐认识到这场革命将对20世
                        纪世界历史进程产生划时代的影响，从中看到民族独立和人民解放的希望，满怀信心地
                        预言：“试看将来的环球，必是赤旗的世界！”
                        在宣传十月革命过程中，他的思想认识迅速提高，从一个爱国的民主主义者转变为一个
                        马克思主义者，进而成为我国最早的马克思主义传播者。1919年五四运动后，他更加
                        致力于马克思主义的宣传，在《新青年》上发表《我的马克思主义观》，系统介绍马克
                        思主义理论，在当时思想界产生重大影响，标志着马克思主义在中国进入比较系统的传
                        播阶段。李大钊同志发表《再论问题与主义》等文章，通过批驳反马克思主义思潮，论
                        证马克思主义符合中国需要的深刻道理。在北洋军阀反动统治的艰难环境中，李大钊同
                        志推动了马克思主义在中国广泛传播，为中国共产党创建准备了思想条件。
                        李大钊同志是中国共产党的主要创始人之一。从1920年初开始，李大钊同志等革命家就
                        商议在中国建立无产阶级政党的问题。1920年3月，李大钊同志在北京大学发起组织马
                        克思学说研究会。同年秋，他领导建立北京的共产党早期组织和北京社会主义青年团，
                        并积极推动建立全国范围的共产党组织。1921年3月，李大钊同志撰文号召全国的共产
                        主义者“急急组织一个团体”，这个团体是“平民的劳动家的政党”，要担负起“中国彻底
                        的大改革”的责任。1921年，中国共产党宣告成立，这是中国近现代史上开天辟地的大
                        事件。李大钊同志为建党所作的重大贡献，使他成为中国共产党的主要创始人之一。
                        李大钊同志是党成立后革命运动的重要领导者。中国共产党成立后，李大钊同志代表党
                        中央指导北方地区党的工作，并担任中国劳动组合书记部北方区分部主任，在党的三大、
                        四大上当选为中央委员。他领导宣传马克思主义，开展工人运动，建立党的组织，掀起
                        北方地区轰轰烈烈的革命运动。他认识到农民是中国革命的依靠力量，明确提出“中国
                        的浩大的农民群众，如果能够组织起来，参加国民革命，中国国民革命的成功就不远了”
                        。他认识到武装斗争的重要性，亲自出面做冯玉祥等国民军将领的工作，推动他们参加
                        国民革命。他认识到欲要完成中国革命，必须建立统一战线。1922年至1924年，他受党
                        的委托，奔走于北京、上海、广州之间，帮助孙中山改组国民党，为建立第一次国共合作
                        的统一战线作出重大贡献。他领导北方党组织配合五卅运动，配合北伐胜利进军，开展反
                        帝反军阀斗争，为大革命胜利推进作出卓越贡献。
                        李大钊同志不仅是一位伟大的革命者和战士，而且是20世纪初我国思想文化界的一位杰出
                        人物。他留下大量著作、文稿和译著，内容涉及哲学、经济学、法学、历史学、伦理学、
                        美学、新闻学、图书管理学等诸多领域，为20世纪中国的思想文化建设作出重要贡献。正
                        如鲁迅先生所说：“他的遗文却将永住，因为这是先驱者的遗产，革命史上的丰碑。”
                        1927年4月6日，李大钊同志在北京被捕入狱。他受尽各种严刑拷问，始终坚守信仰、初心
                        不改，坚贞不屈、大义凛然。4月28日，李大钊同志惨遭反动军阀绞杀，牺牲时年仅38岁。
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- 底部 -->
    
    <!-- 回到顶部 -->
    <aside>
        <a href="#">
            <img src="../images/svg/top.svg"/>
        </a>
    </aside>
</body>
</html>