<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>红革网</title>
    <link type="image/icon" rel="shorcut icon" href="../images/svg/title-icon.svg">
    <link type="text/css" rel="stylesheet" href="../css/basic.css">
    <link type="text/css" rel="stylesheet" href="../css/theory.css">
</head>
<body>
    <!-- 头部 -->
    <header>
        <div class="header-layout">
            <img src="../images/logo.png"/>
            <nav>
                <a href="../index.html">首页</a>
                <a href="./event.html">历史事件</a>
                <a href="./metting.html">历史会议</a>
                <a href="./personage.html">历史人物</a>
                <a href="./history.html">党的一百年历史</a>
            </nav> 
        </div>
    </header>

    <div class="bg-body">
        <h2><img src="../images/svg/theory.svg"/>理论·经验</h2>
        <div class="theory-content-layout">
            <ul>
                <li><a href="../templates/theory_detail.html"><span>“新民主主义论”：开创新纪元</span><span>[ 2021年04月19日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>全面从严治党的重要抓手</span><span>[ 2021年04月19日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>脱贫攻坚伟大奇迹的中国经验</span><span>[ 2021年04月19日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>从百年党史中获得启迪</span><span>[ 2021年04月19日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>立志千秋伟业 百年风华正茂</span><span>[ 2021年04月19日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>革命信仰高于天</span><span>[ 2021年04月19日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>庆祝中国共产党成立100周年专论</span><span>[ 2021年04月20日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>共产党的作风就是艰苦奋斗</span><span>[ 2021年04月20日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>牢记江山就是人民，人民就是江山</span><span>[ 2021年04月20日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>短视频访谈：中国共产党与中国式现代化</span><span>[ 2021年04月20日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>党的历史是中国共产党赢得民心最好注解</span><span>[ 2021年04月20日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>积极推进延安精神在高校传播践行</span><span>[ 2021年04月20日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>中国精神在抗疫斗争中的生动诠释</span><span>[ 2021年04月21日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>凝聚起战胜一切艰难险阻的磅礴伟力</span><span>[ 2021年04月21日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>百年大党实现初心使命的法宝</span><span>[ 2021年04月21日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>讲好党史故事 传承红色基因</span><span>[ 2021年04月22日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>不断推进理论创新进行理论创造</span><span>[ 2021年04月22日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>党的建设的里程碑</span><span>[ 2021年04月23日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>从领袖年谱中感悟真理力量和人格力量</span><span>[ 2021年04月26日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>用大历史观深入学习党史</span><span>[ 2021年04月26日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>新时代催生新思想 新思想引领新征程</span><span>[ 2021年04月26日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>点燃中华民族伟大复兴的火种</span><span>[ 2021年04月26日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>坚持思想建党理论强党凝聚起奋进新时代的强大精神力量</span><span>[ 2021年04月26日 ]</span></a></li>
                <li><a href="../templates/theory_detail.html"><span>赓续共产党人的精神血脉</span><span>[ 2021年04月27日 ]</span></a></li>
            </ul>
        </div>
    </div>
     <!-- 底部 -->
    
    <!-- 回到顶部 -->
    <aside>
        <a href="#">
            <img src="../images/svg/top.svg"/>
        </a>
    </aside>
</body>
</html>